@font-face{
  font-family: 'myFont';
  src:url('../fonts/proxima-nova-semibold-.otf');
}
@font-face{
  font-family: 'alexprush';
  src:url('../fonts/AlexBrush-Regular.ttf');
}
@font-face{
  font-family: 'Lato';
  src:url('../fonts/Lato-Italic.ttf');
}
*{
  font-family: 'myFont';
}
.navbar-inverse .navbar-nav>li>a.menu{
  color: #272727;
}
.navbar-inverse .navbar-nav>li>a.menu:hover,.act{
  color: #ff8282;
}
img.small{
  padding: 0;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  border: 2px solid #e7e7e7;
  border-radius: 5px;
}
  
p.tag{
  border: 1px #343434 solid;
  margin: 3px;
  text-align: center;
  padding: 10px;
}
p.tag a,footer{
   color:#a1a1a1 ;
   text-decoration: none;
}
p.tag a:hover,.nav-ul,.ulcon{
   font-weight: bold;
}
.LOGO,.pro,.blog,.hrfooter,.d1,.d3,.hrf{
   width: 100%;
   /*padding-left: 20px;*/
}
.navtest{
  background-color: white ;
}
.nav-ul,.ulcon,.LoginToSet{
  font-size: 16px;
}
.ulcon1,.in,.inp{
  font-size: 15px;
}
.divcar{
  margin-top: -20px;
}
.divcon{
  margin-top: 30px;
  position: relative;
}
.divconaf1{
  border: 1px #cccccc solid; 
  border-radius: 30px; 
  margin-bottom: 25px;
  color: #000000;
  /*margin-left: 15px;*/
}
.ulcon{
  margin-top: 5px;
}
.btnLR{
  float: right;
  margin-top: -55px;
  margin-right: 14px;
}
.btnLR1{
  float: right;
  margin-top: 35px;
  margin-right: 14px;
}
img.btnL{
  margin-right: 5px;
}

.best-sellers{
  margin-top:25px;border: 1px #cccccc solid; border-radius: 30px;color: #000000;
}
.hr2{
  margin-top:100px;
  position: relative;
}
.hr3{
  margin:100px 10px 40px -7px;
  position: relative;
}
.banner2{
  padding: 20px 0;
}
.divcol3,footer,.navtest,.thumbnail{
  border: none;
}
.slidebrand{
max-width: 100%;
}
.form{
  margin-top: 10px;
}
.follow{
  margin: 5px;
}
.info{
  margin-right: 10px;
}
.title,.info,.best-sellers,.divconaf1,p.tag,.fl{
  float: left;
}
.fl{
  margin-right: 30px;
}
.afbest,.banner{
  padding-bottom: 30px;
}
.right{
  float: right;
}
.a{
  width: auto;
}
#row{
  margin-right: -20px;
}
.readmore{
  border: 1px #e1e1e1 solid;
  border-radius: 5px;
}
.delpadding2,.delpadding3,.delpadding1,.bignew{
  padding-left: 0!important;
}
.delpadding1,.delpadding2{
  padding-right: 0;
}
.del1,.del{
  padding-left: 6px;
  padding-right: 5px;
  margin-bottom: 15px;
}
.footer,.info,.tag a:hover{
  color: #fff;
}
.tag:hover{
  background-color: #343434;
}
.tag a{
  text-align: center;
}
.foo{
  margin: 0
}
.hrfooter,.hrf{
  border-top: 1px solid #343434
}
.d2{
  float: right;margin-top: -5%;padding-right: 15px;
}
.divimg{
  border: 2px solid #e7e7e7; border-radius: 5px;margin-left: 15px;position: relative;
}
.h4{
  color: #676767;
  padding-left: 10px;
}
.txt{
  color: #a1a1a1;
  margin:0 10px;
}
.bt{
  padding:10px 25px;
  background-color: #ff8282;font-size: 15px;color: #ffffff; font-family: 'myFont';
  margin: 5px -74px;
  position: absolute;right: 105px;top: 5px;
  z-index: 3;
}
.inp{
  height: 63px!important;
  border: 1px solid #343434; background-color: #343434;color: #fff;margin-right: -73px;margin-top: 0;
  padding: 6px 30px;
}
.in{
  padding: 6px 30px;
  width: 290px!important;
}
.Jewelry,.newrings{
  font-size: 140px; 
  color: #dab698;
}

.collection,.sale{
  font-size: 30px;padding: 0 10px 20px 10px;
}
.collection:after,.sale:after{
  position: absolute;
  background :linear-gradient(90deg, black 0%, #b5b5b7 50%, black 100%);
  height: 2px;
  width: 25%;
  content: "";
  top: 60%;
  right: 36%;
}
.day{
  font-size: 55px;
  color: #282828;
}
.sbig{
  font-size: 162.29px; 
  color: #282828;
}
.on,.sbig,.day1,.Jewelry,.newrings{
  font-family: 'alexprush';
}
.nghieng{
  transform: rotate(-20deg);
  top: 20px;left:-35%;
}
#myCanvas{
  transform: rotate(30deg);
  border:1px solid #f5eae8;
  border-radius:50%;
  box-shadow: 3px 3px #d5aca8;
  position: relative;
  right: 8%;
  background-color: #f5eae8;
  top: -8vw;
}
.day{
  padding: 40px 0;
  border-bottom: 3px #d5aca8 solid;
  border-top: 3px #d5aca8 solid;
}
.day1{
  padding: 10px;
  border-bottom: 1px #d5aca8 solid;
  border-top: 1px #d5aca8 solid;
}
.sale50{
  font-size: 85px; 
  color: #d5aca8;
  font-weight: bold;
  font-family: 'impact';
  position: absolute;
  top: -45px;
  right: 50%;
}
.pcan{
  /*top: 60px;right:-8%;*/
  top: 10vw;
  right: -8vw;
}

#btt{
  position: absolute;right: 6px;top: 5px;z-index: 3;
}
.tt{
  padding-bottom: 7px;
}
.pJ{
  top: 20px;right: -350px;
}
.pnew{
  
  top: 20px;
  right: 0px;
}
.count{
  padding: 12px;
  top: 10px;
  left: 52px;
  background-color: black;
  border-radius: 50%;
  border:2px white solid;
  width: 20px;
}
.it{
  position: absolute;
  bottom: 50px;
}
.lato{
  font-size: 13px;
  font-family: 'Lato';
  color: #a1a1a1;
  font-weight: bold;
}
.Grand{
 font-weight: bold;
  font-size: 18px;
  color: #434343;
}
.bnew{
  bottom: 25%;
}
.price{
  color: #434343;
  font-weight: bold;
  font-size: 18px;
}
.it1{
  padding-left: 22px;
}
.it2{
  padding-left: 40px;
}
.it3{
  padding-left: 55px;
}
.xoa{
  text-decoration: line-through;
  font-size: 13px;
  color: #a0a0a0;
}

.li:after{
  position: absolute;
  content: " | ";
  top: 15px;
  right: 0px;
  color: #474747;
}
.cart{
  border-radius: 50%;
  background-color: #ff8282;
  padding: 13px;
  border: none;

}
.cart:hover{
  background-color: #24ba21;
}
.divsmall{
  padding-bottom: 24px;
  position: relative;
}
.div-col-md-8{
  padding-left: 55px;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index:10;
}
.divsmall:hover .small, .divsmall:hover .tt,
.bnw:hover .divimg,.bnw:hover .bnew,.afbest:hover img,.afbest:hover .km{
  opacity: 0.5;
}
.divsmall:hover .middle,.afbest:hover .middle,.bnw:hover .middle {
  opacity: 1;
  
}
.middle:hover .text{
  border: 1px solid #ff8282;
  text-decoration: none;
  color: #ff8282;
  background-color: white;
}
 
.text {
  background-color: #ff8282;
  color: white;
  font-size: 16px;
  padding: 10px 32px;
  border-radius: 5px;
}
.purchase{
  font-size: 18px;border-radius: 30px;border: 1px white solid;background-color: #343536;padding: 15px 30px;
}
.purchase:hover{
  background-color: #ff8282;
}
.afbest{
  margin-bottom: 50px;
}

.del:hover img{
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}
.del1:hover img {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}
@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
.ulc:after{ 
  content: "";
  width: 35%;
  height: 2px;
  position: absolute;
  background: linear-gradient(to right, #dcdcdc 0%, #ffffff 100%);
  top: 30px;
  right: 10%;
}
.best-sellers:after{ 
  content: "";
  width: 75%;
  height: 2px;
  position: absolute;
  background: linear-gradient(to right, #dcdcdc 0%, #ffffff 100%);
  top: 65.5%;
  right: 6.6%;
  z-index: -1;
}
.Blog:after{ 
  content: "";
  width: 75%;
  height: 2px;
  position: absolute;
  background: linear-gradient(to right, #dcdcdc 0%, #ffffff 100%);
  top: 6%;
  right: 4%;
  z-index: -1;
}

.delpadding1 img ,.delpadding2 img,.delpadding3 img{
  transition: 1s ease-in-out;
}
.delpadding1:hover img, .delpadding2:hover img, .delpadding3:hover img {
  transform: rotateY(360deg);
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
}
.img-responsive{
  font-size: 20px;
}
.divcart{
  margin-top: -55px;
  float: right;
}
.k{
  top: 3px;
  right: 8px;
  position: absolute;
}
.NP{
  color: black;
  background-color: white;
  border-radius: 50%;
  font-size: 15px!important;
  padding: 7px;
}
.NP:hover{
  background-color: #ff8282;
  color: white;
}

#pre{
  box-shadow: 0px 2px #cdcdcd;

}
.nxt{
  margin-top: -25px!important;
}

.bn2 figure {
  position: relative;
}
.bn2 figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 25%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255,255,255,0.68) 0%, rgba(255,255,255,0.76) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0.68) 0%, rgba(255,255,255,0.76) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.bn2 p::before {
  position: absolute;
  top: 0;
  left: -130%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 110%;
  background: -webkit-linear-gradient(left, rgba(255,255,255,0.68) 0%, rgba(255,255,255,0.76) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0.68) 0%, rgba(255,255,255,0.76) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.bn2 figure:hover::before{
  -webkit-animation: shine 1s;
  animation: shine 1s;
}
.bn2 p:hover::before {
  -webkit-animation: shine .5s;
  animation: shine .5s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
.pcus{
  left: 33%;text-align: left;
}
.cus{
  font-size: 24px;color: #1e1e1e;
}
.best{
    font-size: 65px;color: #1e1e1e;font-family: 'alexprush';
  }
.sp{
    color: #1e1e1e;font-size: 16px;
  }
.bs{
  border: none;border-radius: 50%;background-color: black;margin: 0;
}
.wm{
  font-family: 'alexprush';font-size: 40px;
}
.lo{
  font-size: 40px;
}
#left{
  right: 15%;left: 15%;
}