@media screen and (max-width: 767px)
{
	.li:after{
		content: '';
		position: absolute;
		
	}

	.fl{
		width: 90%;
		margin-right: -17em;
		margin-top: -2em;
		float: left;
	}
	.divcart{
		margin-top: 2em;
	    float: left;
	    left: -2em;
	}
	.pJ{
		top: -2.5vw;right: -37vw;
	}
	.Jewelry,.newrings{
		font-size: 8vw;
		color: #dab698;
		font-family: 'alexprush';
	}
	.collection,.sale{
		font-size: 3vw;
		padding: 0;
	}
	.LoginToSet{
		font-size: 2vw;
		top: 12em;
	    position: absolute;
	    right: 22em;
	}
	.collection:after,.sale:after{
	  position: absolute;
	  background :linear-gradient(90deg, black 0%, #b5b5b7 50%, black 100%);
	  height: 2px;
	  width: 15%;
	  content: "";
	  top: 58%;
	  right: 42%;
	  display: none;
	}
	.sale:after{
		width: 27%;
		right: 36%;
	}
	.NP{
		color: black;
	    background-color: white;
	    border-radius: 50%;
	    font-size: 8px!important;
	    padding: 3px;
	}
	.pnew {
	    top: -10px;
	    right: 0px;
	}
	.sbig{
		font-size: 10vw;
		font-family: 'alexprush';
		color: #282828;
	}
	.day1{
		font-size: 5vw;
	    padding: 10px;
	    padding-bottom: 0px;
	    border-bottom: 1px #d5aca8 solid;
	    border-top: 1px #d5aca8 solid;
	    font-family: 'alexprush';
	}
	.day{
	    padding: 3vw 0 3vw 0;
	    font-size: 7vw;
	    border-bottom: 3px #d5aca8 solid;
	    border-top: 3px #d5aca8 solid;
	}
	.nghieng{
		transform: rotate(-20deg);
	    top: -3vw;
	    left: -45vw;
	}
	#myCanvas{
		width: 15vw;
	    height: 15vw;
	    bottom: 9vw;
	    right: 5vw;
	    transform: rotate(30deg);
	    border: 1px solid #f5eae8;
	    border-radius: 50%;
	    box-shadow: 0.5vw 0.5vw #d5aca8;
	    position: relative;
	    background-color: #f5eae8;
	}
	.sale50{
		font-size: 5vw;
	    top: 0;
	    color: #d5aca8;
	    font-weight: bold;
	    font-family: 'impact';
	    position: absolute;
	    right: 45vw;
	}
	.divcar{
		margin-top: -10px;
	}
	.delpadding1,.delpadding2,.delpadding3{
		max-width: 33.333%;
	    float: left;
	    padding-right: 0;
	    padding-left: 0;
	}
	.banner{
		padding-bottom: 0px;
		width: 100%;
	}
	.ulc:after{
		position: absolute;
		content: '';
		width: 0px
	}
	h3{
		font-size: 15px;
		margin: 10px 25px;
	}
	.b{
		margin-top: 6px;
		border: 1px solid black;
	}
	.icon-bar{
		background-color: black;
	}
	.navbar-toggle:hover{
		background-color: #ff8282!important;
	}
	.in {
    	padding: 0;
    	width: 100%!important;
	}
	.LOGO{
		width: 90%
	}
	.nav-ul{
		margin-left: 20px;
	}
	.bignew{
		padding-right: 0;
		margin-bottom: 20px;
		width: 100%;
	}
	.bnw{
		width: 100%;
	}
	
	.col-3{
		width: 33%;
		float: left;
	}	
	.it1, .it2, .it3{
    padding-left: 0px;width: 100%;
	}
	.it {
	    position: absolute;
	    bottom: 5%;width: 90%;
	    left: 15px;
	    margin-right: 0;
	    margin-left: 0!important;
	}
	.tt {
    padding-bottom: 25%;
    right: 12%;
	}
	.mi {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 52%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 10;
	}
	.mr{
		margin-right: 30px;
	}
	.divsmall{
		width: 80%;padding-left: 0;
		padding-right: 0;

	}
	img.small {
    padding: 0;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    border: 2px solid #e7e7e7;
    border-radius: 5px;
    width: 100%;
	}
	.best-sellers:after{
		content: '';
		position: absolute;
		width: 0;
		display: none;
	}
	.btnLR,.btnLR1,.hrfooter {
    display: none;
	}
	.best-sellers {
    margin-top: 0;
    border: 1px #cccccc solid;
    border-radius: 30px;
    color: #000000;
	}
	.bn2{
		margin-bottom: 0
	}
	.hr2 {
    margin-top: 30px;
    position: relative;
	}
	.pcus{
		left: 30%;
    	text-align: left;
    	height: 75%;
	}
	.cus,.sp{
		font-size: 2vw;
		color: #1e1e1e;
	}
	.best{
		font-family: 'alexprush';
		font-size: 5vw;
		color: #1e1e1e;
	}
	.bs{
	  border: none;border-radius: 50%;background-color: black;margin: 0;
	  font-size: 1.3vw;
	  padding: 2px 4px;
	}
	.sp{
		position: absolute;
	}
	.purchase{
		top: 13vw;
	    right: 27vw;
	    position: absolute;
	    font-size: 2vw;
	    border-radius: 30px;
	    border: 1px white solid;
	    background-color: #343536;
	    padding: 1vw 3vw;
	}
	.wm{
		font-family: 'alexprush';
    	font-size: 3.5vw;
	}
	.lo{
		font-size: 2.5vw;
	}
	.lef{
		right: 15%;
	    top: 0%;
	    left: 15%;
	    padding-top: 4px;
	}
	.hr3 {
	    margin: 35px 10px 40px -7px;
	    position: relative;
	}
	.bt {
	    padding: 1vw 2vw;
	    background-color: #ff8282;
	    font-size: 1.5vw;
	    color: #ffffff;
	    font-family: 'myFont';
	    margin: 1.1vw -9vw;
	    position: absolute;
	    right:3vw;
	    top: 1px;
	    z-index: 3;
	}
	.inp{
		padding: 3.3vw 3vw!important;
	    font-size: 2vw!important;
	    line-height: 1.3333333;
	    border-radius: 30px;
	    position: relative;
	    z-index: 0;
	    float: left;
	    width: 60vw!important;
	    margin-bottom: 0;
	    height: 5vw!important;
	    border: 1px solid #343434;
	    background-color: #343434;
	    color: #fff;
	    margin-right: -9vw;
	    margin-top: 0;
	}
	.ip{
		padding-right: 1.7vw!important;
		padding-left: 19vw!important;
	}
	.row{
		margin-right: 0px;
    	margin-left: 38px;
	}
	.navbar-form {
    	padding: 25px 10px;
	}
	.d2{
		float: none;
	    margin-top: -5%;
	    padding-right: 15px;
	}
	#btt{
		right: 50px;
	}
	.ro{
		margin-left: 0!important;
	}
	.wdth{
		width: 100%;
	}
	.bnew{
		bottom: 55vw;
		margin: 0 0 -40px;
		padding-bottom: 0;
	}
	.km{
		left: 15%;
		right: 15%;
		bottom: 25%;
	}
	.fl{
		display: none;
	}
	.fl1{
		display: block!important;
	}
	.fl1{
		width: 90%;
		margin-right: 0em;
		margin-top: 0em;
		float: left;
		margin-left: 0px!important
	}
	.lato{
		font-size: 2vw;
	}
	.Grand{
		font-size: 3.5vw;
	}
	.sao{
		width: 10vw;
	}
	.price{
		font-size: 2.5vw;
	}
	.row1{
		margin-left: 0!important
	}
	.divimg{
		margin-left: 0!important;
	}

}
@media screen and (max-width: 330px)
{
	#btt{
		display: none;
	}
	#b{
		display: block!important;
	}
	.div-col-md-8{
	  padding-left: 0px;
	}
}

/*tablet*/
@media screen and (min-width: 768px) and (max-width: 991px)
{
	.nav>li>a{
		padding:1.5vw!important;
	}
	.d2{
		margin-top: 0!important;
		padding-right: 48%!important;
	}
	.divcart{
		margin-top: 5px;
	}
	.pJ{
		top: -2.5vw;right: -35vw;
	}
	.Jewelry,.newrings{
		font-size: 8vw;
		color: #dab698;
		font-family: 'alexprush';
	}
	.collection,.sale{
		font-size: 3vw;
		padding: 0;
	}
	.LoginToSet{
		font-size: 2vw;
		top: 12em;
	    position: absolute;
	    right: 20em;
	}
	.collection:after,.sale:after{
	  position: absolute;
	  background :linear-gradient(90deg, black 0%, #b5b5b7 50%, black 100%);
	  height: 2px;
	  width: 15%;
	  content: "";
	  top: 65%;
	  right: 42%;
	  
	}
	.sale:after{
		width: 27%;
		right: 36%;
	}
	.pnew{
		right: 30px;
	}
	.sbig{
		font-size: 10vw;
		font-family: 'alexprush';
		color: #282828;
	}
	.day1{
		font-size: 5vw;
	    padding: 10px;
	    padding-bottom: 0px;
	    border-bottom: 1px #d5aca8 solid;
	    border-top: 1px #d5aca8 solid;
	    font-family: 'alexprush';
	}
	.day{
	    padding: 3vw 0 3vw 0;
	    font-size: 7vw;
	    border-bottom: 3px #d5aca8 solid;
	    border-top: 3px #d5aca8 solid;
	}
	.nghieng{
		transform: rotate(-20deg);
	    top: -3vw;
	    left: -35vw;
	}
	#myCanvas{
		width: 15vw;
	    height: 15vw;
	    bottom: 9vw;
	    right: 5vw;
	    transform: rotate(30deg);
	    border: 1px solid #f5eae8;
	    border-radius: 50%;
	    box-shadow: 0.5vw 0.5vw #d5aca8;
	    position: relative;
	    background-color: #f5eae8;
	}
	.sale50{
		font-size: 5vw;
	    top: -10px;
	    color: #d5aca8;
	    font-weight: bold;
	    font-family: 'impact';
	    position: absolute;
	    right: 43vw;
	}
	.divcar{
		margin-top: -10px;
	}
	.delpadding1,.delpadding2,.delpadding3{
		max-width: 33.333%;
	    float: left;
	    padding-right: 0;
	    padding-left: 0;
	}
	.banner{
		padding-bottom: 0px;
		width: 100%;
	}
	.ulc:after{
		position: absolute;
		content: '';
		width: 0px;
		display: none;
	}
	.lato{
		font-size: 2vw;
	}
	.Grand{
		font-size: 3.5vw;
	}
	.sao{
		width: 10vw;
	}
	.price{
		font-size: 2.5vw;
	}
	.divimg{
		margin-left: 0!important;
	}
	#left{
		bottom: 35%;
	}
	.col-3{
		width: 33%;
		float: left;
	}	
	.it1, .it2, .it3{
    padding-left: 0px;width: 100%;
	}
	.it {
	    position: absolute;
	    bottom: 5%;width: 90%;
	    left: 40px;
	    margin-right: 0;
	    margin-left: 0!important;
	}
	.bnw{
		width: 100%;
		padding-left: 15px;
		margin-bottom: 25px;
	}
	.div-col-md-8{
		padding-left: 15px;
	}
	.row2{
		width: 100%;
		padding-left: 30px;
	}
	.divsmall{
		float: left;
		width: 33.3%;
	}
	.lato1{
		font-size: 1.3vw;
	}
	.Grand1{
		font-size: 1.5vw;
	}
	.price1{
		font-size: 1.5vw;
	}
	.tt{
		bottom: 15%!important;
		padding-bottom: 0px;
	}
	.km{
		bottom: 20%!important;
	}
	.best-sellers:after{
		display: none;
	}
	.pcus{
		left: 30%;
    	text-align: left;
    	height: 75%;
	}
	.cus,.sp{
		font-size: 2vw;
		color: #1e1e1e;
	}
	.best{
		font-family: 'alexprush';
		font-size: 5vw;
		color: #1e1e1e;
	}
	.bs{
	  border: none;border-radius: 50%;background-color: black;margin: 0;
	  font-size: 1.3vw;
	  padding: 2px 4px;
	}
	.sp{
		position: absolute;
		bottom: 0px;
	}
	.v{
		top: 3px;
	}
	.purchase{
		top: 13vw;
	    right: 27vw;
	    position: absolute;
	    font-size: 2vw;
	    border-radius: 30px;
	    border: 1px white solid;
	    background-color: #343536;
	    padding: 1vw 3vw;
	}
	.wm{
		font-family: 'alexprush';
    	font-size: 3.5vw;
	}
	.lo{
		font-size: 2.5vw;
	}
	.lef{
		right: 15%;
	    top: 0%;
	    left: 15%;
	    padding-top: 4px;
	}
	.lef1{
		top: 10%;
	}
	.ip{
		width: 80%;
	}
}

/*desktop*/
@media screen and (min-width: 992px) and (max-width: 1199px)
{
	.container{
		width: 750px;
	}
	.d2{
		margin-top: 0!important;
		padding-right: 47%!important;
	}
	.nav>li>a{
		padding:1.5vw!important;
	}
	.pJ{
		top: -2.5vw;right: -35vw;
	}
	.Jewelry,.newrings{
		font-size: 8vw;
		color: #dab698;
		font-family: 'alexprush';
	}
	.collection,.sale{
		font-size: 3vw;
		padding: 0;
	}
	.LoginToSet{
		font-size: 2vw;
		top: 12em;
	    position: absolute;
	    right: 20em;
	}
	.collection:after,.sale:after{
	  position: absolute;
	  background :linear-gradient(90deg, black 0%, #b5b5b7 50%, black 100%);
	  height: 2px;
	  width: 15%;
	  content: "";
	  top: 65%;
	  right: 42%;
	  
	}
	.sale:after{
		width: 27%;
		right: 36%;
	}
	.pnew{
		right: 30px;
	}
	.sbig{
		font-size: 10vw;
		font-family: 'alexprush';
		color: #282828;
	}
	.day1{
		font-size: 5vw;
	    padding: 10px;
	    padding-bottom: 0px;
	    border-bottom: 1px #d5aca8 solid;
	    border-top: 1px #d5aca8 solid;
	    font-family: 'alexprush';
	}
	.day{
	    padding: 3vw 0 3vw 0;
	    font-size: 7vw;
	    border-bottom: 3px #d5aca8 solid;
	    border-top: 3px #d5aca8 solid;
	}
	.nghieng{
		transform: rotate(-20deg);
	    top: -3vw;
	    left: -35vw;
	}
	#myCanvas{
		width: 15vw;
	    height: 15vw;
	    bottom: 9vw;
	    right: 5vw;
	    transform: rotate(30deg);
	    border: 1px solid #f5eae8;
	    border-radius: 50%;
	    box-shadow: 0.5vw 0.5vw #d5aca8;
	    position: relative;
	    background-color: #f5eae8;
	}
	.sale50{
		font-size: 5vw;
	    top: -10px;
	    color: #d5aca8;
	    font-weight: bold;
	    font-family: 'impact';
	    position: absolute;
	    right: 43vw;
	}
	.divcar{
		margin-top: -10px;
	}
	.delpadding1,.delpadding2,.delpadding3{
		max-width: 33.333%;
	    float: left;
	    padding-right: 0;
	    padding-left: 0;
	}
	.banner{
		padding-bottom: 0px;
		width: 100%;
	}
	.ulc:after{
		position: absolute;
		content: '';
		width: 25%;
		display: none;
	}
	.lato{
		font-size: 1vw;
	}
	.Grand{
		font-size: 1.5vw;
	}
	.price{
		font-size: 1.4vw;
	}
	.bnew {
    bottom: 18%;
	}
	.it {
    position: absolute;
    bottom: 25px;
	}
	.xx{
		
		padding-right: 0;
		width: 29%;
	}
	.x{
		margin-left: 14px;
	}
	.it1,.it2,.it3{
		width: 100%;
		padding-left: 12px;
	}

}